#operate{
	height:50px;
}
#operate input{
	font-size: 14px;
	height:34px;
	width:240px;
	border-radius: 5px;
	border:1px solid #e0e0e0;
}
#operate button{
	margin-left: 20px;
}
.db{
	cursor: pointer;
}
